<nav class="uk-navbar-container header uk-navbar">

  <div class="uk-navbar-left" style="height: 4rem;">
    <!-- <a href="#offcanvas-slide" class="uk-button uk-button-default" uk-toggle>Open</a> -->
    <span uk-icon="icon: menu;" href="#offcanvas-slide" class="uk-button uk-button-default"
      style="color: white; border: unset" uk-toggle></span>
    <div id="offcanvas-slide" uk-offcanvas>
      <div class="uk-offcanvas-bar">

        <ul class="uk-nav uk-nav-default">
          <li class="uk-nav-header">Menu</li>
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: bag;"> </span>
            <li class="uk-margin"><a href="#" style="margin-left: 3rem;">Orders</a></li>
          </div>
        </ul>



        <ul class="uk-nav uk-nav-default">

          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: thumbnails;"> </span>
            <li class="uk-margin"><a href="#" style="margin-left: 3rem;">Products</a></li>
          </div>
        </ul>

        <ul class="uk-nav uk-nav-default">

          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: users;"> </span>
            <li class="uk-margin"><a href="#" style="margin-left: 3rem;">Users</a></li>
          </div>
        </ul>

        <ul class="uk-nav uk-nav-default">

          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: album;"> </span>
            <li class="uk-margin"><a href="#" style="margin-left: 3rem;">Material Inventory</a></li>
          </div>
        </ul>

        <ul class="uk-nav uk-nav-default">

          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: settings;"> </span>
            <li class="uk-margin"><a href="#" style="margin-left: 3rem;">Account Settings</a></li>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <div class="uk-navbar-center">


    <a class="uk-navbar-item uk-logo" href="#"><img data-src="../../assets/images/bakery-logo-admin.png" alt="" uk-img
        style="width: 10rem;"></a>

  </div>

  <div class="uk-navbar-right">
    <span uk-icon="icon: bell;" class="uk-button uk-button-default" style="color: white; border: unset"
      uk-toggle></span>
    <span uk-icon="icon: sign-out;" class="uk-button uk-button-default" style="color: white; border: unset"
      uk-toggle></span>
  </div>

</nav>