<!-- <div class="uk-child-width-1-2@s uk-light" uk-grid>
  <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle"
    style="background-image: url(../../assets/images/cake-bg-1.jpg);">
    <p class="uk-h4">Cover</p>
  </div>
</div> -->

<div class="uk-height-large uk-background-blend-darken uk-background-cover uk-light uk-flex uk-flex-center"
  style="background-image: url('../../assets/images/cake-bg-1.jpg'); height: 50rem;">

  <div>
    <img data-src="../../assets/images/bakery-logo-admin.png" alt="" uk-img
      style="width: 15rem; margin-top: 10rem; margin-bottom: 5rem;">
    <form uk-form-width-medium>
      <fieldset class="uk-fieldset">

        <!-- <legend class="uk-legend">Log in</legend> -->

        <div class="uk-margin ">
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input custom-input" type="text" placeholder="Email">
          </div>
        </div>
        <div class="uk-margin">
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: lock"></span>
            <input class="uk-input custom-input" type="password" placeholder="Password">
          </div>
        </div>
        <div class="uk-margin">
          <button class="uk-button uk-button-primary" style="width: 15rem">Log in</button>
        </div>



      </fieldset>
    </form>


  </div>
</div>